body{
	background: #EFEFEC; /* E6E2AF EFEFEF*/
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

nav{
	margin-left: auto;
}

/* PORTADA GENERAL  */

.header{
	background: #002F2F;
}

.header-2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo span{
	font-weight: bold;
	color: white;
	font-size: 25px;
	padding: 5px;
}

.logo span:hover{
	border-top: 4px solid #E65D1B;
}

.logo{
	padding: 10px;
	text-decoration: none;
}

.menu{
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	display: flex;
	list-style: none;
}

.menu li a{
	text-decoration: none;
	padding: 10px;
	color:white;
	font-weight: bold;
	font-size: 1em;
}

.menu li a:hover{
	border-top: 4px solid #E65D1B; 
}

.portada{
	padding-top: 2.7em;
	background: #EFEFEF;
}

.portada a {
	text-decoration: none;
	color: #515151;
}

.contenedor{
	display: flex;
	justify-content: center;
	max-width: 800px;
	max-height: 600px;
	margin: auto;
}

.relative-post{
	display: flex;
}

.img-portada{
	width: 1000px;
	height: 560px;
}

.info-post{
	background: rgba(255,255,255,0.8);
	padding: 2em 4em;
	display: flex;
	left: 330px;
	bottom: 115px;
}

.footer-post{
	display: flex;
}

.img-author{
	width: 60px;
	height: 45px;
	border-radius: 50%;
}

.author{
	margin-right: 30px;
}

/* ARTICULOS */

.articulos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1000px;
	margin: auto;
}


.mini-post{
	width: 320px;
	height: 400px;
	margin-top: 1.2em;
	display: flex;
	flex-direction: column;
}

.mini-post img{
	width: 320px;
	height: 215px;
}

.mini-post a{
	text-decoration: none;
}

.mini-post h2{
	color:#515151;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 1em;
}

.mini-post header{
	border-bottom: 1px solid grey;
}

.mini-post footer{
	display: flex;
	justify-content: space-between;
}

/*footer*/

.paginas{
	display: flex;
	width: 1000px;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.p-page{
	margin-right: 10px;
	color:grey;
}

.last{
	margin-right: 10px;
	color: grey;
}

.page{
	text-decoration: none;
	color: grey;
	background: #EAEAEA;
	padding: 10px;
	margin-left: 1em;
	margin-bottom: 1em;
	border: 1px solid #BABDB6;
}