/* ICONOS */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dvipqi');
  src:  url('../fonts/icomoon.eot?dvipqi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dvipqi') format('truetype'),
    url('../fonts/icomoon.woff?dvipqi') format('woff'),
    url('../fonts/icomoon.svg?dvipqi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\ea86";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}

/* THE WELS THEORY */
body{
	background: #efefef; 
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

h1,h2,h3,a,blockquote{
	font-family: 'Gochi Hand', cursive;
}

blockquote{
	border-left: solid 3px rgba(67, 160, 71, 0.78);
    font-style: italic;
    padding: 0.5em 0 0.5em 2em;
	color: #1F5768;
}

a{
	text-decoration: none;
}
/* HEADER Y MENU */

.header{
	background: #43A047;
	padding: 8px;
	display: flex;
	justify-content: center;
}

.header a{
	text-decoration: none;
	color: #d5d5d5;
}

.header-1{
	font-weight: bold;
	font-family: 'Gochi Hand', cursive;
	font-size: 45px;
}

.header a:hover{
	transition: 0.6s;
	color: #1f5768;
}

.menus{
	margin-top: 0;
	margin-bottom: 0;
	padding: 5px;
	background: #43A047;
	display: flex;
	list-style: none;
	justify-content: space-around;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Gochi Hand', cursive;
}

.menus a{
	text-decoration: none;
	color: #d5d5d5;
	padding: 2px 20px;
}

.menus a:hover{
	border-top: 2.5px solid #1f5768;
}

/* PORTADA */
.portada{
	margin-top: 1em;
}
.contenedor{
	display: flex;
	max-width: 1000px;
	max-height: 500px;
	margin: auto;
	flex-direction: row;
	margin-bottom: 1em;
}

.contenedor a{
	text-decoration: none;
	color: #d5d5d5;
}

.titulo{
	padding: 0 0.5em 0 0.5em;
	background: #1f5768;/*1F5768 rgba(255,255,255,0.5);*/
}
.fecha{
	font-style: italic;
	color: #d5d5d5;
	display: flex;
	justify-content: flex-end;
}

.title{
	font-weight: bold;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title span{
	text-decoration: underline;
}

.parrafo{
	font-size: 20px;
	display: flex;
	padding: 2px;
}

.parrafo p{
	padding: 10px 0;
	color: #d5d5d5;
}

.autor{
	display: flex;
	align-items: flex-end;
}

.autor a{
	color: #d5d5d5;/*#9A8A8A*/
	font-size: 20px;
	font-weight: bold;
}

.autor p{
	margin: 0;
	padding: 0;
}

.autor img{
	transform: rotate(90deg);
	border-radius: 10px;
}

.imagen{
	max-height: 1000px;
	max-width: 1000px;
}

.imagen img{
	position: relative;
}

/*ARTICULOS */

.articulos{
	max-width: 1000px;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 3em;
}

.post{
	padding: 1.5em 3em ;
	display: flex;
	flex-direction: column;
}

.post a{
	text-decoration: none;
}

.pie-post{
	padding: 0 12px 12px 12px;
	height: auto;
	background: #1f5768; 
}

.pie-post a{
	text-decoration: none;
	color: #d5d5d5;
}

.pie-post h3{
	margin: 0;
	font-size: 22px;
	padding: 10px;
}

.footer-post{
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
}

.footer-post p{
	margin: 0;
	color: #d5d5d5;
}

.autor-post{
	font-weight: bold;
}

.fecha-post{
	font-style: italic;
	color: #d5d5d5;
}

/* FOOTER */

.footer{
	display: flex;
	justify-content: center;
	background: #43A047;
	padding: 10px;
	position: relative;
	bottom: 0;
	margin: auto;
}

.footer p{
	flex-direction: column;
	color: #d5d5d5;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}

/* PUBLICACIONES */

.contenedor-pu{
	width: 100%;
	max-height: 100%;
	margin: 0;
}

.fondo{
	margin: 0;
	position: relative;
}
.imagen-pu{
	display: block;
	max-height: 300px;
	min-height: 250px;
	opacity: 0.9;
	overflow: hidden;
}

.imagen-pu img{
	height: auto;
	min-width: 100%;
	width: 100%;
}

.post-publicacion h1{
	border-bottom: 0 none;
    font-size: 3.2em;
    top: 300px;
    left: 200px;
    max-width: 800px;
    padding: 0 2.1em;
    position: absolute;
    text-shadow: rgba(0,0,0,0.8) 0px 1px 1px;
    color: #1f5768;
    text-rendering: auto;
    -webkit-font-smoothing: auto;
}

.titulo-c{
	width: 800px;
	height: auto;
	margin: 2.2em auto;
	color:#1f5768;
}

.publicacion p{
	padding: 5px;
	margin: 5px;
}

.publicacion-fin{
	width: 800px;
	height: 50px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.publicacion-footer{
	width: 188px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	border-top: 3px solid rgba(67, 160, 71, 0.78);
	align-items: center;
}

.publicacion-footer h3,p,a, .publicacion-autor h3,a{
	color: #1F5768;
}

.publicacion-footer h3,p{
	margin: 0;
}

.publicacion-footer a{
	text-decoration: none;
}

.publicacion-autor{
	display: flex;
	width: 200px;
	margin: 0;
	justify-content: space-between;
	border-top: 3px solid rgba(67, 160, 71, 0.78);
	align-items: center;
}

.publicacion-autor a{
	text-decoration: none;
}

/* PROYECTOS */

.contenedor-a{
	display: flex;
	max-width: 1000px;
	max-height: 150px;
	flex-direction: row;
	margin: auto;
	margin-bottom: 2em;
}

.contenedor-a a{
	text-decoration: none;
	color: #d5d5d5;
}

.titulo-a{
	margin: 2em 0;
	padding-left: 2em;
	color: #d5d5d5;
	background: #1f5768;
	display: flex;
	justify-content: flex-start;
	width: 260px;
}

.titulo-b{
	width: 830px;
	height: 135px;
	background: #1F5768;
	padding: 0.5em;
}

.titulo-b h2{
	margin: 10px 0 12px 0;
}

.titulo-b p{
	font-size: 22px;
	color: #d5d5d5;
	margin: 10px 0 10px 15px;
}

.proyecto-footer p{
	font-style: italic;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 0 0;
	color: #d5d5d5;
}

.proyecto-footer{
	display: flex;
	justify-content: space-between;
}

.imagen-proy img{
	height: 151px;
	width: 170px;
}

/* NOSOTROS */

.imagen-no{
	display: block;
	max-height: 100px;
	min-height: 300px;
	opacity: 0.9;
	overflow: hidden;
}

.imagen-no img{
	height: auto;
	min-width: 100%;
	width: 100%;
}

.titulo-nosotros{
	margin: 10px auto;
    width: 800px;
    font-size: 45px;
    color: #1F5768;
}

.titulo-nosotros h1{
	margin: 10px 0 20px 0;
}

.parrafo-nosotros{
	margin: auto;
    width: 800px;
}

.parrafo-nosotros p{
	margin: 10px auto 25px auto;
}

.autor-nosotros h3{
	color: #1F5768;
}

.autor-nosotros{
	display: flex;
	width: 200px;
	margin: auto 275px auto auto;
	justify-content: space-between;
	border-top: 1px solid #1F5768;
	align-items: center;
}

.autor-nosotros a{
	text-decoration: none;
}

/* AUTOR */
.articulo-autor{
	margin: 2em 0;
}

.principal{
	height: auto;
	width: auto;
	max-width: 800px;
	max-height: 600px;
	margin: auto;
	display: flex;
	padding: 5px 5px 0 5px;
}

.parrafo-autor{
	padding: 5px 5px 0 20px;
	margin-left: 12px;
}

.parrafo-autor h3{
	color: #1F5768;
}

.parrafo-autor p{
	margin: 15px 3px;
}

.imagen-autor img{
	transform: rotate(90deg);
	width: 250px;
	height: 255px;
	position: relative;
	top: 26px;
	left: 16px;

}

.secundario{
	height: auto;
	width: auto;
	max-width: 800px;
	max-height: 600px;
	margin: auto;
	padding: 0 5px 5px 5px;
}

.parrafo-secundario p{
	margin: 0 3px 15px 3px;
}

.redes-autor{
	height: auto;
	width: auto;
	max-width: 800px;
	max-height: 600px;
	margin: 0 auto 65px auto;
	padding: 0 5px 5px 5px;
}

.sociales-autor{
	display: flex;
}

.sociales-autor h3{
	color: #1F5768;
	margin: 0 15px 0 0;
}

.sociales-autor span{
	width: 25px;
}

.red-soc{
	display: inline-block;
	border-radius: 50%;
}

/* CONTACTO */

.contenedor-contacto{
	margin: auto;
	width: 800px;
	height: 500px;
	margin-top: 2.5em;
}

.contacto{
	width: 500px;
	margin: auto;
}

.contacto h2{
	display: flex;
	justify-content: center;
	color: #1F5768;
}

.contacto a{
	color: #1F5768;
	text-decoration: none;
	display: flex;
	margin: 13px 13px 13px 13px;
}

.contacto strong{
	margin: 0 97px 0 0;
}

.formulario{
	margin: auto;
	width: 475px;
	color: #1F5768;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col2 .button{
	margin-top: 15px
}

.col2 textarea{
	width: 97%;
}

.intereses{
	display: flex;
	justify-content: space-between;
}

.intereses label{
	font-size: 15px;
}

.formulario label, .sexo, .intereses {
 	margin-bottom: 10px;
 	margin-top: 10px;
}

.sexo{
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
	margin-top: 10px;
}

.tabla{
	margin: 50px 0;
}

@media screen and (max-width: 1070px){
	/* PORTADA */
	.contenedor{
		height: auto;
		width: auto;
		max-width: 800px;
		max-height: 520px;
	}

	.titulo{
		height: 520px;
		width: 380px;
	}

	.fecha h3{
		margin: 5px 0 0 0;
		font-size: 20px;
	}
	
	.title{
		font-size: 40px;
	}

	.parrafo{
		font-size: 22px;
	}

	.autor a{
		font-size: 18px;
	}

	.imagen img{
		height: 520px;
		width: 420px;
	}

	/* ARTICULOS */
	.articulos{
		height: auto;
		width: auto;
		max-width: 800px;
    	max-height: 1000px;
	}

	.post{
		padding: 2em 0 2em 0;
	}

	.post img{
		width: 350px;
		height: 350px;
	}

	/* PUBLICACION */
	.imagen-pu{
		max-height: 130px;
    	min-height: 210px;	
	}
	.post-publicacion h1{
		font-size: 50px;
		left: 160px;
		top:220px;
	}

	/* PROYECTOS */
	.contenedor-a{
		max-width: 800px;
	}

	/* NOSOTROS */
	.imagen-no{
		max-height:60px; 
		min-height: 200px;
	}
	.autor-nosotros{
	margin: auto 125px auto auto;
	}
}

@media screen and (max-width: 1000px){
	/* PUBLICACION */
	.post-publicacion h1{
		font-size: 50px;
		left: 80px;
	}

	/* NOSOTROS */
	.imagen-no{
		max-height:60px; 
		min-height: 180px;
	}

	.autor-nosotros{
		margin-right: 53px;
	}
}

@media screen and (max-width: 910px){
	/* PUBLICACION */
	.post-publicacion h1{
		font-size: 47px;
		left: 45px;
	}
}

@media screen and (max-width: 830px){
	/* PORTADA */
	.contenedor{
		max-width: 750px;
		max-height: 750px;
	}
	.fecha h3{
		font-size: 18px;
	}
	
	.title{
		font-size: 37px;
	}

	.parrafo{
		font-size: 21px;
	}

	.autor a{
		font-size: 17px;
	}

	/* ARTICULOS */
	.articulos{
		max-width: 750px;
	}

	.post img{
		width: 325px;
		height: 325px;
	}

	.post{
		padding: 2.1em 0.2 2.1em 0.2;
	}

	.pie-post h3{
		font-size: 20px;
	}

	.pie-post{
		font-size: 15px;
	}

	/* PUBLICACION */
	.imagen-pu{
		max-height: 120px;
    	min-height: 200px;	
	}
	.post-publicacion h1{
		font-size: 45px;
		left: 30px;
		top: 220px;
	}

	.titulo-c{
		width: 700px;
	}

	.publicacion-fin{
	width: 700px;
	height: 50px;
	}

	/* PROYECTOS */
	.contenedor-a{
		max-width: 700px;
	}

	.titulo-b p{
		font-size: 19px;
	}

	/* NOSOTROS */
	.imagen-no{
		max-height:50px; 
		min-height: 160px;
	}

	.parrafo-nosotros{
		width: 750px;
	}

	/* CONTACTO */
	.contenedor-contacto{
		width: 600px;
	}
}

@media screen and (max-width: 788px){
	
	/* HEADER */
	.header{
		height: 55px;
	}
	.header-1{
		font-size: 50px;
	}
	.menus{
		height: 33px;
		font-size: 26px;
	}

	/* PORTADA */
	.contenedor{
		max-width: 700px;
		max-height: 700px;
		justify-content: center;
		flex-direction: column;
	}
	
	.titulo{
		height: 200px;
		width: 684px;
		display: inline-block;
		position: relative;
		top: 450px;
	}

	.fecha h3{
		font-size: 18px;
	}
	
	.title{
		font-size: 28px;
		justify-content: flex-start;
	}

	.title h1{
		margin: 0;
	}

	.parrafo{
		font-size: 16px;
	}

	.autor a{
		font-size: 16px;
	}

	.imagen{
		display: flex;
		justify-content: center;
	}

	.imagen img{
		width: 700px;
		height: 450px;
		position: relative;
		bottom: 200px;
	}

	/* ARTICULOS */
	.articulos{
    	margin: 20px 26px 10px 26px;
    	max-width: 700px;
		flex-direction: column;
		padding-bottom: 1em; 
	}

	.post{
		padding: 1.5em 1em;

	}

	.post img{
		width: 323px;
		height: 320px;
	}

	/* PUBLICACION */
	.imagen-pu{
		max-height: 120px;
    	min-height: 200px;	
	}
	.post-publicacion h1{
		font-size: 43px;
		left: 15px;
		top: 220px;
	}
	.titulo-c{
		width: 630px;
	}

	.publicacion-fin{
	width: 630px;
	height: 50px;
	}

	/* NOSOTROS */
	.parrafo-nosotros{
		width: 690px;
	}

	.autor-nosotros{
		margin-right: 40px;
	}
}

@media screen and (max-width: 722px){

	/* HEADER */
	.header{
		height: 40px;
	}
	.header-1{
		font-size: 35px;
	}
	.menus{
		font-size: 20px;
		height: 23px;
	}

	/* PORTADA */
	.contenedor{
		max-width: 600px;
		max-height: 600px;
		margin-bottom: 2em;
	}

	.fecha h3{
		font-size: 16px;
	}

	.titulo{
		top: 280px;
		height: 216px;
		width: 584px;
	}

	.title{
		font-size: 26px;
	}

	.autor a{
		font-size: 14px;
	}

	.imagen img{
		width: 600px;
		height: 280px;
		top: -216px;
	}

	/* ARTICULOS */
	.articulos{
    	max-width: 600px;
    	max-height: 700px; 
    	flex-direction: row;
	}

	.post img{
		width: 250px;
		height: 230px;
	}

	.pie-post{
		width: 250px;
		font-size: 12px;
		padding: 0;
	}

	.pie-post h3{
		font-size: 15px;
	}

	/* PUBLICACION */
	.imagen-pu{
		max-height: 100px;
    	min-height: 172px;	
	}

	.post-publicacion h1{
		font-size: 39px;
		left: 0;
		top: 177px;
	}

	/* PROYECTOS */
	.contenedor-a{
		max-width: 600px;
	}

	.titulo-b p{
		font-size: 18px;
	}

	.proyecto-footer{
		line-height: 0;
	}

	/* NOSOTROS */
	.parrafo-nosotros{
		width: 640px;
	}

	.autor-nosotros{
		margin-right: 30px;
	}
} 

@media screen and (max-width: 650px){
	/* HEADER */
	.header{
		height: 30px;
	}

	.header-1{
		font-size: 30px;
	}
	
	.menus{
		font-size: 17px;
		height: 20px;
	}

	/* PORTADA */
	.contenedor{
		max-width: 500px;
		max-height: 700px;
	}

	.titulo{
		width: 484px;
		top: 300px;
	}

	.title{
		font-size: 23px;
		margin: 4px 0 1px 0;
	}

	.parrafo{
		font-size: 17px;
	}

	.imagen img{
		width: 500px;
		height: 300px;
		top: -216px;
	}

	/* ARTICULOS */
	.articulos{
		max-width: 500px;
    	max-height: 700px; 
    	margin-left: auto;
    	margin-right: auto;
	}

	.post{
		padding: 1.2em 0 1.2em 0;

	}

	.post img{
		width: 225px;
		height: 200px;
	}

	.pie-post{
		width: 225px;
		font-size: 10px;
	}

	.pie-post h3{
		font-size: 16px;
	}

	/* PUBLICACION */
	.imagen-pu{
		max-height: 90px;
    	min-height: 150px;	
	}
	.post-publicacion h1{
		font-size: 34px;
		top: 153px;
	}

	.titulo-c{
		width: 550px;
	}

	.publicacion-fin{
		width: 550px;
		height: 50px;
	}

	/* PROYECTOS */
	.contenedor-a{
		max-width: 550px;
	}

	.titulo-b h2{
		font-size: 22px;
	}

	/* NOSOTROS */
	.parrafo-nosotros{
		width: 570px;
	}

	.autor-nosotros{
		margin-right: 20px;
	}

	/* CONTACTO */
	.contenedor-contacto{
		width: 580px;
	}

}

@media screen and (max-width: 580px){

	/* PORTADA */
	.contenedor{
		max-width: 400px;
		max-height: 700px;
	}

	.titulo{
		width: 384px;
		top: 300px;
	}

	.title{
		font-size: 20px;
		margin: 6px 0 1px 0;
	}

	.parrafo{
		font-size: 16px;
	}

	.imagen img{
		width: 400px;
		height: 300px;
		top: -216px;
	}

	/* ARTICULOS */
	.articulos{
		max-width: 450px;
    	max-height: 700px; 
    	margin-left: auto;
    	margin-right: auto;
	}

	.post{
		padding: 1.2em 0 1.2em 0;

	}

	.post img{
		width: 200px;
		height: 200px;
	}

	.pie-post{
		width: 200px;
		font-size: 10px;
	}

	.pie-post h3{
		font-size: 14px;
	}

	.footer p{
		font-size: 17px;
	}

	/* PUBLICACION */
	.imagen-pu{
		max-height: 90px;
    	min-height: 128px;	
	}
	.post-publicacion h1{
		font-size: 30px;
		top: 140px;
	}

	.titulo-c{
		width: 490px;
	}

	.publicacion-fin{
		width: 490px;
		height: 50px;
	}

	/* PROYECTOS */
	.contenedor-a{
		max-width: 490px;
	}

	.titulo-b p{
		font-size: 14px;
	}

	.titulo-b h2{
		font-size: 20px;
	}

	/* AUTOR */
	.principal{
		width: 500px;
	}

	.imagen-autor img{
		width: 200px;
		height: 225px;
		top: 73px;
		left: 0;
	}

	.parrafo-autor p{
		font-size: 14px;	
	}
	
	.parrafo-secundario p{
		font-size: 14px;
	}


	/* NOSOTROS */
	.parrafo-nosotros{
		width: 490px;
	}

	.autor-nosotros{
		margin-right: 18px;
	}

	/* CONTACTO */
	.contenedor-contacto{
		width: 450px;
	}
}

@media screen and (max-width: 500px){

	/* HEADER */
	.header{
		height: 36px;
	}

	.header-1{
		font-size: 40px;
	}

	.menus{
		font-size: 19px;
		height: 25px;
	}

	/* PORTADA */
	.contenedor{
		max-width: 360px;
		max-height: 700px;
	}

	.titulo{
		width: 344px;
		top: 300px;
	}

	.title{
		font-size: 19px;
		margin: 6px 0 1px 0;
	}

	.parrafo{
		font-size: 15px;
	}

	.imagen img{
		width: 360px;
		height: 300px;
		top: -216px;
	}

	/* ARTICULOS */
	.articulos{
		max-width: 360px;
    	max-height: 700px; 
    	margin-left: auto;
    	margin-right: auto;
	}

	.post{
		padding: 1.2em 0 1.2em 0;

	}

	.post img{
		width: 180px;
		height: 200px;
	}

	.pie-post{
		width: 180px;
		font-size: 10px;
	}

	.pie-post h3{
		font-size: 14px;
	}

	/* FOOTER */
	.footer p{
		font-size: 12px;
	}

	/* PUBLICACION */
	.imagen-pu{
		max-height: 90px;
    	min-height: 128px;	
	}
	.post-publicacion h1{
		font-size: 27px;
		top: 150px;
	}

	.titulo-c{
		width: 400px;
	}

	.publicacion-fin{
		width: 400px;
		height: 50px;
	}

	.publicacion-footer{
		width: 129px;
	}

	.publicacion-footer h3{
		font-size: 13px;
	}

	.publicacion-footer p{
		font-size: 13px;
	}

	.publicacion-autor{
		width: 132px;
	}

	.publicacion-autor h3{
		font-size: 13px;
	}

	.publicacion-autor a{
		font-size: 13px;
	}

	/* PROYECTOS */
	.contenedor-a{
		max-width: 360px;
	}

	.titulo-b p {
		font-size: 14px;
	}

	.titulo-b h2 {
		font-size: 18px;
	}

	.proyecto-footer{
		line-height: 30px;
	}

	.proyecto-footer p{
		font-size: 12px;
	}

	/* NOSOTROS */
	.titulo-nosotros{
		font-size: 35px;
	}

	.parrafo-nosotros{
		width: 360px;
	}

	.parrafo-nosotros p{
		font-size: 14px;
	}

	.autor-nosotros{
		margin-right: 40px;
	}

	.sociales-autor{
		position: relative;
		left: 45px;
	}

	/* CONTACTO */
	.contenedor-contacto{
		width: 360px;
	}

	.col1 input{
		width: 94%;
	}

	.col2 textarea{
		width: 90%
	}

	/* AUTOR */
	.articulo-autor{
		margin: 0;
	}
	.principal{
		padding-top: 0;
		display: flex;
		flex-direction: column;
		width: 400px;
		height: 355px;
	}

	.imagen-autor img{
		width: 160px;
		height: 150px;
		top: 22px;
		left: 118px;
	}

	.parrafo-autor h3{
		margin: 0;
		position: relative;
		top: -75px;
		left: 56px;
	}

	.parrafo-autor{
		margin-left: -3px;
		padding-left: 5px;
	}

	.parrafo-autor p{
		font-size: 11px;
		margin-left: 0;	
	}
	
	.parrafo-secundario p{
		font-size: 11px;
	}
}

@media screen and (max-width: 370px){

	/* PORTADA */
	.contenedor{
		max-width: 310px;
	}

	.titulo{
		width: 294px; 
	}

	.imagen img{
		width: 310px;
	}

	/* ARTICULOS */
	.articulos{
		max-width: 310px;
	}

	.post img{
		width: 140px;
	}

	.pie-post{
		width: 140px;
	}

	/* PUBLICACION */
	.titulo-c{
		width: 310px;
	}

	.publicacion-fin{
		width: 310px;
	}

	.imagen-pu{
		max-height: 66px;
		min-height: 88px;
	}

	.post-publicacion h1{
		font-size: 21px;
		top: 128px;
		left: -23px; 
	}

	/* PROYECTOS */
	.contenedor-a{
		max-width: 310px;
	}

	/* NOSOTROS */
	.titulo-nosotros{
		width: 310px;
		font-size: 29px;
	}

	.parrafo-nosotros{
		width: 310px;
	}

	/* CONTACTO */
	.contenedor-contacto{
		width: 310px;
	}

	/* AUTOR */
	.principal{
		width: 355px;
		margin-left: 0;
	}

	.secundario{
		position: relative;
		bottom: -20px;
		margin-bottom: 8px;
	}

	.redes-autor{
		height: 10px;
	}
}

@media screen and (max-width: 330px){
	/* AUTOR */
	.principal{
		width: 313px;
	}

	.secundario{
		width: 313px;
	}
}